body {
  background-color: black;
  height: 100%;
}

.image-link {
  background-color: hsl(0 0 40% / 0.4);
  border-radius: 5px;
  position: absolute;
}

.image-link:hover {
  background-color: hsl(0 0 10% / 0.4);
}

.atlassian {
  width: 14.96%;
  height: 4.72%;
  left: 45.88%;
  top: 32.91%;
}

.bitbucket {
  width: 14.96%;
  height: 4.72%;
  left: 45.88%;
  top: 36.91%;
}
