html {
  background: rgb(75 108 112);
}

body {
  background: url(noise.svg), linear-gradient(rgb(75 108 112), rgb(171 152 51));
  margin: 0;
  height: 100dvh;
  width: 100dvw;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  @media (max-width: 480px) {
    background: url(noise.svg), rgb(75 108 112);
  }
}

.hyperimage {
  width: fit-content;
  position: relative;

  img {
    border-radius: 10px;
    box-sizing: border-box;
    border: 1px solid black;
    box-shadow: rgb(0 0 0 / 20%) 0px 0px 15px 6px;
    width: 100%;
    max-width: 450px;
  }

  a {
    background-color: hsl(0 0 40% / 0.4);
    border-radius: 5px;
    position: absolute;
  }

  a:hover {
    background-color: hsl(0 0 10% / 0.4);
  }

  .atlassian {
    width: 14.96%;
    height: 4.72%;
    left: 45.88%;
    top: 32.91%;
  }

  .bitbucket {
    width: 14.96%;
    height: 4.72%;
    left: 45.88%;
    top: 36.91%;
  }

  .arena {
    width: 22.96%;
    height: 4.72%;
    left: 40.88%;
    top: 41.91%;
  }

  .brooklyn {
    width: 26.96%;
    height: 4.72%;
    left: 34.88%;
    top: 46.91%;
  }

  .justin-browser {
    width: 32.96%;
    height: 9.72%;
    left: 39.88%;
    top: 51.91%;
  }

  .youtube {
    width: 14.96%;
    height: 4.72%;
    left: 19.88%;
    top: 63.91%;
  }

  .arena-profile {
    width: 14.96%;
    height: 4.72%;
    left: 39.88%;
    top: 63.91%;
  }

  .linkedin {
    width: 18.96%;
    height: 4.72%;
    left: 57.88%;
    top: 64.91%;
  }

  .twitter {
    width: 14.96%;
    height: 4.72%;
    left: 18.88%;
    top: 69.91%;
  }

  .github {
    width: 18.96%;
    height: 4.72%;
    left: 36.88%;
    top: 68.91%;
  }

  .gir {
    width: 19.96%;
    height: 25.72%;
    left: 63.88%;
    top: 24.91%;
  }
}
