<section id="home-content">
  <img src="/assets/justin.png" alt="" width="350px" />
  <p>
    Hi my name is justin liang. I am a human that is currently
    <justin-age>25</justin-age> years old.
  </p>
  <p>
    I live in new york city ... for my day job i work as a software engineer.
  </p>
  <p>
    Outside of work i like reading and walking and looking at the world, and
    eating lots of
    <a href="/watermelon/">watermelon</a>
  </p>
  <blockquote>
    <p>
      I write of human experience so that I may understand it and thereby force
      myself into some kind of honesty
    </p>
    <p>
      <cite
        ><a href="https://www.are.na/block/47336359" target="_blank"
          >- John E. Williams</a
        ></cite
      >
    </p>
  </blockquote>
</section>
