<section id="home-content">
  <img src="/assets/IMG_8424.jpeg" alt="" width="300px" />
  <h2>Justin</h2>
  <p>
    Hi my name is <a href="/justin-liang/">justin liang.</a> I am 25 years old.
  </p>
  <p>I've lived in <a href="/nyc/">New York City</a> for the past few years.</p>
  <p>
    For my day job and as hobby, I
    <a href="/hacker/">develop software.</a> My latest interests have been in
    building custom web browsers, under the project name:
    <a href="/justin-browser/">Justin Browser.</a>
  </p>
  <h2>Biography</h2>
  <blockquote>
    <p>
      I write of human experience so that I may understand it and thereby force
      myself into some kind of honesty
    </p>
    <p>
      <cite
        ><a href="https://www.are.na/block/47336359" target="_blank"
          >- John E. Williams</a
        ></cite
      >
    </p>
  </blockquote>
  <p>
    I originally grew up in Dallas, Texas. My childhood memories were filled
    with walking to my friends' houses in the sprawling suburbs, through
    blistering heat and pollen allergies. My favorite Texas restaurant is
    Whataburger - for iced tea I like doing 60% unsweet and 40% sweet.
  </p>
  <p>
    My family is from China, and I'm trying to learn Shanghainese in my free
    time to better communicate with them. As a child they spoke in both Mandarin
    an Shanghainese, so I got confused between the two. I can understand
    Shanghainese better though, probably at the level of a 7 year old.
  </p>
  <p>
    During middle school and high school, I played the cello in the school
    orchestra. I wasn't a big fan of classical music at the time, so I always
    tried to play covers of indie songs I liked but on the cello. For example, I
    liked to play Pulaski at Night by Andrew Bird. I was never extremely
    invested in practicing, so I never got to be that good at playing the cello.
    I remember I started to really dislike playing it by senior year of high
    school, during which I also developed a hearing condition that caused a loud
    static noise in my left ear when hearing loud sounds. I told my cello
    teacher that I wanted to quit, and I remember crying a lot during that final
    lesson.
  </p>
</section>
