<nav class="toc">
  <a href="#justin">Justin</a>
  <a href="#biography">Biography</a>
  <a href="#interests">Interests</a>
</nav>
<section id="home-content">
  <img src="/assets/IMG_8424.jpeg" alt="" width="300px" />
  <h2 id="justin">Justin</h2>
  <p>
    Hi my name is <a href="/justin-liang/" class="arena">justin liang</a>. I am
    25 years old.
  </p>
  <p>
    I've lived in <a href="/nyc/" class="arena">New York City</a> for the past
    few years.
  </p>
  <p>
    For my day job and as hobby, I
    <a href="/hacker/" class="arena">develop software</a>. My latest interests
    have been in building custom web browsers, under the project name:
    <a href="/justin-browser/" class="arena">Justin Browser</a>.
  </p>
  <p>
    I love using the website
    <a href="https://www.are.na/justin-liang">are.na</a>. This personal website
    is based on a collection of are.na channels I've made that express who I am.
  </p>
  <h2 id="biography">Biography</h2>
  <blockquote>
    <p>
      I write of human experience so that I may understand it and thereby force
      myself into some kind of honesty
    </p>
    <p>
      <cite
        ><a href="https://www.are.na/block/47336359"
          >- John E. Williams</a
        ></cite
      >
    </p>
  </blockquote>
  <p>
    I originally grew up in Dallas, <a href="/texas/" class="arena">Texas</a>.
    My childhood memories were filled with walking to my friends' houses in the
    sprawling suburbs, through blistering heat and pollen allergies. My favorite
    Texas restaurant is Whataburger - for iced tea I like doing 60% unsweet and
    40% sweet. As a child my parents would feed me fruits like grapes and
    <a href="/watermelon/" class="arena">watermelon</a>.
  </p>
  <p>
    My family is from Shanghai, China. I'm trying to learn
    <a href="/shanghainese/" class="arena">Shanghainese</a> in my free time to
    better communicate with them. As a child they spoke in both Mandarin an
    Shanghainese, so I got confused between the two. I can understand
    Shanghainese better though, probably at the level of a 7 year old.
  </p>
  <p>
    During middle school and high school, I played the cello in the school
    orchestra. I wasn't a big fan of classical music at the time, so I always
    tried to play covers of indie songs I liked but on the cello. For example, I
    liked to play
    <a href="https://www.youtube.com/watch?v=oecHq2neweA"
      >Pulaski at Night by Andrew Bird</a
    >. I was never extremely invested in practicing, so I never got to be that
    good at playing the cello. I remember I started to really dislike playing it
    by senior year of high school, during which I also developed a hearing
    condition that caused a loud static noise in my left ear when hearing loud
    sounds. I told my cello teacher that I wanted to quit, and I remember crying
    a lot during that final lesson.
  </p>
  <p>
    I spent most of my free time growing up playing video games. I loved playing
    <a href="https://www.youtube.com/watch?v=dzMq5_thk4o">Team Fortress 2</a>,
    <a href="https://youtu.be/j9S9GTLdF0s?si=ABe1nMjYtzuyn8nI">Dota 2</a>, and
    <a href="https://www.youtube.com/watch?v=vncIBREXCwU">Skyrim</a>. I liked
    how video games gave you goals to strive for, and immediate feedback on how
    you were progressing towards those goals.
  </p>
  <p>
    Eventually, I went to college. I studied computer science at Georgia Tech. I
    was quite lonely for most of my college experience, but I enjoyed hanging
    out with the friends I did have, mainly my roommates. I have fond memories
    of my going out with my roommates to go to restaruants like Cookout and
    Waffle House.
  </p>
  <p>
    When I graduated college, I moved to New York City. I currently live in
    Brooklyn and work as a software engineer at Atlassian. I'm grateful to have
    made more friends after moving here.
  </p>
  <h2 id="interests">Interests</h2>
  <h3>Programming and Design</h3>
  <p>I am broadly interested in programming and interface design.</p>
  <p>
    I believe in
    <a href="/slowness/" class="arena">slowness in the creative process</a>.
    Meaning I like making projects without deadlines or external motivations. I
    know this is idealistic, but since this is just a hobby I'm allowed to act
    this way.
  </p>
  <p>Here are some various projects I've made:</p>
  <ul>
    <li>
      <a href="/justin-browser/" class="arena"
        >Justin Browser - custom web browsers</a
      >
    </li>
    <li>
      <a href="https://github.com/justinliang1020/wikicollage"
        >wikicollage, collage tool for wikipedia screenshots</a
      >
    </li>
    <li>
      <a href="https://hyperimage.site/"
        >hyperimage, images with links (DOWN FOR NOW)</a
      >
    </li>
    <li>
      <a href="https://stickerboard2.pages.dev/"
        >stickerboard2, windows xp themed image editor</a
      >
    </li>
    <li>
      <a href="https://justinliang1020.github.io/fake-wikipedia/"
        >fake wikipedia image caption generator</a
      >
    </li>
    <li>
      <a href="https://stickerboard.pages.dev/"
        >stickerboard, a fun image editor</a
      >
    </li>
    <li>
      <a href="https://github.com/justinliang1020/AirPose"
        >airpose, camera-based full body tracking for VR</a
      >
    </li>
  </ul>
  <h3>are.na</h3>
  <p>I love using are.na to organize my interests in life.</p>
  <p>These are my favorite 3 channels</p>
  <ul>
    <li>
      <a href="/uncategorized/" class="arena">uncategorized</a> is probably my
      most used channel. I dump whatever I can't put into another channel into
      here. It represents years of me noticing on are.na
    </li>
    <li>
      <a href="/justin-liang/" class="arena">justin liang</a> is my life log.
      It's kinda like a "finsta" but on are.na
    </li>
    <li>
      <a href="/quotes/" class="arena">quotes</a> is where I record quotes that
      I've encounted from books, movies, and even youtube comments. I find a lot
      of my ideas and driving principles originate from quotes I've recorded
      here
    </li>
  </ul>
  <h3>Anime and Manga</h3>
  <p>
    I love
    <a href="/anime-manga/" class="arena">watching anime and reading manga</a>.
    I only got into it relatively recently in 2022 when I watched Attack on
    Titan for the first time. I love the art style and stories that the mediums
    enable. Here are some of my favorites in no particular order
  </p>
  <ul>
    <li>Oyasumi Pun Pun</li>
    <li>Nichijou</li>
    <li>Chainsaw Man</li>
    <li>Puella Magi Madoka Magica</li>
  </ul>
</section>
